{% extends "main/base.html" %}
{% block title %}
    Список разделов
{% endblock %}

{% block main %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="text-decoration: none;"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Список разделов</li>
        </ol>
    </nav>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="pb-2 mb-0">Список разделов</h6>
        {% for fr in fr %}
            <div class="d-flex text-muted pt-3">
                <div class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="50" height="50">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                         class="bi bi-code-slash" viewBox="0 0 16 16">
                        <path d="{{ fr.icon.svg }}"></path>
                    </svg>
                </div>

                <a style="text-decoration: none; color: #6c757d!important;" href="threads/{{ fr.pk }}/"
                   class="pb-3 mb-0 small lh-sm border-bottom">
                    <strong class="d-block text-gray-dark">
                    {{ fr.name }}
                    </strong>
                    {{ fr.desc }}
                </a>
            </div>
            </div>
        {% endfor %}
{% endblock %}

{% block left %}
{% endblock %}