{% extends "main/base.html" %}
{% block title %}
    Новые темы
{% endblock %}

{% block main %}
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="pb-2 mb-0">Новые темы</h6>
        {% for th in th %}
            <div class="d-flex text-muted pt-3">
                <div class="bd-placeholder-img flex-shrink-0 me-2 rounded">
                    <i style="font-size: 30px;" class="{{ th.forum.icon.svg }}"></i>
                </div>

                <div href="threads/{{ th.pk }}/"
                     class="pb-3 mb-0 small lh-sm border-bottom">
                    <strong class="d-block text-gray-dark"><span
                            class="badge bg-{{ th.prefix.color }}">{{ th.prefix.name }}</span> <a
                            href="/threads/{{ th.pk }}"
                            style="text-decoration: none; color: #6c757d!important;">{{ th.title }}</a>
                    </strong>
                    <a style="text-decoration: none; color: #6c757d!important;"
                       href="/forums/{{ th.forum.pk }}">{{ th.forum.name }}</a> | @{{ th.user }} | {{ th.date }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block left %}
    <div class="my-3 p-3 bg-body shadow-sm">
        <h6 class="card-title">Новые пользователи:</h6>
        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="red"></rect>
            </svg>

            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">MACLO</strong>
                    <a href="#"></a>
                </div>
                <span class="d-block">только что</span>
            </div>
        </div>
        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="blue"></rect>
            </svg>

            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Эксперт</strong>
                    <a href="#"></a>
                </div>
                <span class="d-block">только что</span>
            </div>
        </div>
        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="green"></rect>
            </svg>

            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">demon</strong>
                    <a href="#"></a>
                </div>
                <span class="d-block">минуту назад</span>
            </div>
        </div>
    </div>
{% endblock %}