{% extends "main/base.html" %}
{% load bbcode_tags %}

{% block title %}
    {% for th in th %}
        {{ th.title }}
    {% endfor %}
{% endblock %}

{% block main %}
    {% for th in th %}
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Главная</a></li>
                <li class="breadcrumb-item"><a href="/forums" style="text-decoration: none;">Список разделов</a></li>
                <li class="breadcrumb-item"><a href="/forums/{{ th.forum.pk }}"
                                               style="text-decoration: none;">{{ th.forum.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ th.title }}</li>
            </ol>
        </nav>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">
        {% for po in po %}
            <div class="row" id="{{ po.pk }}">
                <div class="my-3 p-3 bg-body rounded shadow-sm">
                    <div class="g-mb-15">
                        <a class="h5 g-color-gray-dark-v1 mb-0 no-dekor text-dark">{{ po.user }}</a>
                        <br>
                        <span class="g-color-gray-dark-v4 g-font-size-12">{{ po.date }}</span> <a
                            title="Пожаловаться на пост {{ po.pk }}" href="/war/{{ po.pk }}"
                            class="bi bi-shield-exclamation"></a>
                    </div>

                    <p>{% bbcode po.content %}</p>


                    <ul class="list-inline d-sm-flex my-0">
                        <li class="list-inline-item g-mr-20">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover no-dekor"
                               href="/like/{{ po.pk }}">
                                <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                                {{ po.like }}
                            </a>
                        </li>
                        <li class="list-inline-item ml-auto">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover no-dekor" href="#!">
                                <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                                Ответить
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
        {% if user.is_authenticated %}
            <form action="/comment/{{ th.pk }}/" method="post">
                {% csrf_token %}

                <div class="input-group mb-3">
                <textarea name="content" type="text" class="form-control" placeholder="Ваши мысли..."
                          aria-label="Username"
                          aria-describedby="basic-addon1"></textarea>
                    <button type="submit" class="btn btn-outline-secondary">Отправить</button>
                </div>
            </form>
        {% else %}
            <p>Вы должны авторизироваться, чтобы комментировать эту тему.</p>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block left %}
{% endblock %}